/* ==========================================================================
   A burger icon with animation
   Variant 1 and 4 must have 3 spans
   Variant 2 must have 6 spans
   Variant 3 must have 4 spans
   ========================================================================== */

@import "trigonometry";

$burger_color: #ffffff !default;
$burger_background_color: #f00 !default;
$burger_inner_width: 22px !default;
$burger_inner_height: 20px !default;
$burger_line_radius: 0 !default;
$burger_border: 8px !default;
$burger_border_top: 9px !default;
$burger_border_bottom: 9px !default;

.burger {

  $burger_line_height: $burger_inner_height / 5;



  width: $burger_inner_width;
  height: $burger_inner_height;
  position: relative;
  margin: auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  background-color: $burger_background_color;
  border: $burger_border solid $burger_background_color;
  border-top-width: $burger_border_top;
  border-bottom-width: $burger_border_bottom;



  span {
    display: block;
    position: absolute;
    width: 100%;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    border-radius: $burger_line_radius;
    height: $burger_line_height;
    background: $burger_color;
  }


  /* -= Animation variant 1: central bar fade out to left =- */
  &.-var1 {
    span:nth-child(1) {
      top: 0px;
    }
    span:nth-child(2) {
      top: $burger_line_height * 2;
    }

    span:nth-child(3) {
      top: $burger_line_height * 4;
    }

  }


  &.-var1.open {
    span:nth-child(1) {
      top: $burger_line_height * 2;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }
    span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    span:nth-child(3) {
      top: $burger_line_height * 2;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }

  /* -= Animation variant 2: central bar splits on two =- */
  &.-var2 {
    span {
      display: block;
      position: absolute;
      width: 50%;
      opacity: 1;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      height: $burger_line_height;
      background: $burger_color;
    }

    span:nth-child(even) {
      left: 50%;
      border-radius: 0 $burger_line_radius $burger_line_radius 0;
    }

    span:nth-child(odd) {
      left:0px;
      border-radius: $burger_line_radius 0 0 $burger_line_radius;
    }

    span:nth-child(1), span:nth-child(2){
      top: 0px;
    }

    span:nth-child(3), span:nth-child(4){
      top: $burger_line_height * 2;
    }

    span:nth-child(5), span:nth-child(6){
      top: $burger_line_height * 4;
    }
  }





  &.-var2.open {
    $line_width: $burger_inner_width / 2;
    $half_line_with: $line_width / 2;

    $a: $half_line_with * sin(45deg);

    $cX: $burger_inner_width / 2;
    $cY: $burger_inner_height / 2;



    $oX: $half_line_with;
    $oY: $burger_line_height / 2;

    $tX: $cX - $a;
    $tY: $cY - $a;

    $offsetX: $tX - $oX;
    $offsetY: $tY - $oY;


    span:nth-child(1) {
      transform: translate($offsetX, $offsetY) rotate(45deg);
    }

    span:nth-child(2) {
      transform: translate(-$offsetX, $offsetY) rotate(-45deg);
    }

    span:nth-child(3) {
      left: -50%;
      opacity: 0;
    }

    span:nth-child(4) {
      left: 100%;
      opacity: 0;
    }

    span:nth-child(5) {
      transform: translate($offsetX, -$offsetY) rotate(-45deg);
    }

    span:nth-child(6) {
      transform: translate(-$offsetX , -$offsetY) rotate(45deg);
    }
  }


  &.-var3 {
    span:nth-child(1) {
      top: 0px;
    }

    span:nth-child(2), span:nth-child(3) {
      top: $burger_line_height * 2;
    }


    span:nth-child(4) {
      top: $burger_line_height * 4;
    }
  }

  &.-var3.open {
    span:nth-child(1) {
      top: $burger_line_height * 2;
      width: 0%;
      left: 50%;
    }

    span:nth-child(2) {
      transform: rotate(45deg);
    }

    span:nth-child(3) {
      transform: rotate(-45deg);
    }

    span:nth-child(4) {
      top: $burger_line_height * 2;
      width: 0%;
      left: 50%;
    }
  }

  &.-var4 {
    span:nth-child(1) {
      top: 0px;
      transform-origin: left center;
    }

    span:nth-child(2) {
      top: $burger_line_height * 2;
      transform-origin: left center;
    }

    span:nth-child(3) {
      top: $burger_line_height * 4;
      transform-origin: left center;
    }
  }

  &.-var4.open {
    span:nth-child(1) {
      transform: rotate(45deg);

    }

    span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(-45deg);

    }
  }

}


