#popup-host {
  position: fixed;
  top: 62px;
  left: 0;
  width: 100%;
  z-index: 20000;
  pointer-events: none;

  .popup-outer {
    max-width: 660px;
    min-width: 258px;
    position: relative;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;


    .popup-inner {
      display: inline-block;
      padding: 13px 31px 15px;
      font-size: 16px;
      font-weight: normal;
      text-align: center;
      pointer-events: all;

      border-radius: 5px;
      cursor: default;

      &.error {
        background-color: #f5b4b4;
        color: #350505;
        a {
          color: #270505;
          font-weight: normal;
        }
      }

      &.info {
        background-color: #c4f0fb;
        color: #050535;
        a {
          color: #050525;
          font-weight: normal;
        }
      }

      &.success {
        background-color: #9cefa2;
        color: #042406;
        a {
          color: #041305;
          font-weight: normal;
        }
      }

    }
  }
}