/* ==========================================================================
   A EMA responsive menu styles
   ========================================================================== */
.emaResp-back {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10099;
  top:0;
  left: 0;

}

.emaResp-host {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 10100;


  transition: all 0.7s ease-in-out;

  &.open {
    transition: all 0.7s ease-in-out;
  }

  &.animation-top {
    top: 0;
    left: 0;
    right: 0;

    &.open {
      top: 0 !important;
    }
  }

  &.animation-left {
    left: 0;
    top: 0;

    &.open {
      left: 0 !important;
    }

  }

  &.animation-right {
    right: 0;
    top: 0;

    &.open {
      right: 0 !important;
    }
  }




}

.emaResp-footer {
  border-top: 1px solid #8ac3d6;
  background-color: rgba(#4a889c, 0.9);
  text-align: center;
}

.emaResp-page.emaResp-open {
  position: static;
}


